.top-bar {
    -fx-alignment: center;      
    -fx-padding: 2px;
    -fx-background-color: grey;
}
.titre-label {
    -fx-text-fill: blue;     
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-background-color: lightgrey;  
    -fx-padding: 4px;
	-fx-alignment: center;    
}

/*Boutons menu */
.button:hover {
	-fx-background-color: #4FC3F7;
	-fx-text-fill: white;
	-fx-cursor: hand;
}

/* Spinner cohérent */
.spinner {
	-fx-font-family: 'Georgia';
	-fx-font-size: 13px;
}

.spinner .increment-arrow-button,
.spinner .decrement-arrow-button {
	-fx-background-color: #B3E5FC;
}

.spinner .increment-arrow-button:hover,
.spinner .decrement-arrow-button:hover {
	-fx-background-color: #4FC3F7;
}